@model Manager
@{
    ViewData["Title"] = "მენეჯერის წაშლა";
}
<form asp-controller="Managers" asp-action="DeletePOST" method="post">
    <input hidden asp-for="Id" />
    <div class="mb-3">
        <input class="form-control" asp-for="FirstName" disabled />
    </div>
    <div class="mb-3">
        <input class="form-control" asp-for="LastName" disabled />
    </div>
    <div class="mb-3">
        <input class="form-control" value="@ViewBag.HotelNames[Model.HotelId]" disabled />
    </div>
    <div class="mb-3">
        <input type="submit" class="btn btn-danger" value="წაშლა" />
        <a class="btn btn-primary btn" asp-controller="Managers" asp-action="Index">გაუქმება</a>
    </div>
</form>