@model Hotel
@{
    ViewData["Title"] = "სასტუმროს განახლება";
}
<form asp-controller="Hotels" asp-action="UpdatePOST" method="post">
    <input hidden asp-for="Id" />
    <div class="mb-3">
        <label asp-for="Name">სახელი</label>
        <input class="form-control" asp-for="Name" />
    </div>
    <div class="mb-3">
        <label asp-for="Rating">რეიტინგი</label>
        <input class="form-control" asp-for="Rating" />
    </div>
    <div class="mb-3">
        <label asp-for="Country">ქვეყანა</label>
        <input class="form-control" asp-for="Country" />
    </div>
    <div class="mb-3">
        <label asp-for="City">ქალაქი</label>
        <input class="form-control" asp-for="City" />
    </div>
    <div class="mb-3">
        <label asp-for="PhysicalAddress">მისამართი</label>
        <input class="form-control" asp-for="PhysicalAddress" />
    </div>
    <div class="mb-3">
        <input type="submit" class="btn btn-warning" value="განახლება" />
        <a class="btn btn-primary btn" asp-controller="Hotels" asp-action="Index">გაუქმება</a>
    </div>
</form>

