@model Reservation
@{
    ViewData["Title"] = "ახალი ჯავშნის დამატება";
}
<h2 class="mb-4">ახალი ჯავშნის დამატება</h2>
<form asp-controller="Reservations" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="CheckInDate">Check In</label>
        <input class="form-control" asp-for="CheckInDate" />
        @Html.ValidationMessageFor(r => r.CheckInDate, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        <label asp-for="CheckOutDate">Check Out</label>
        <input class="form-control" asp-for="CheckOutDate" />
        @Html.ValidationMessageFor(r => r.CheckOutDate, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        <input type="submit" class="btn btn-success" value="დამატება" />
        <a class="btn btn-primary btn" asp-controller="Reservations" asp-action="Index">გაუქმება</a>
    </div>
</form>


