@model List<Reservation>
<div class="row">
    <a class="btn btn-success w-25 btn mb-3" asp-controller="Reservations" asp-action="Create">ახალი ჯავშნის დამატება</a>
</div>
<div class="row">
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Check In</th>
                <th>Check Out</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reservation in Model)
            {
                <tr>
                    <td>@reservation.CheckInDate</td>
                    <td>@reservation.CheckOutDate</td>
                    <td>
                        <a class="btn btn-danger" asp-controller="Reservations" asp-action="Delete" asp-route-id="@reservation.Id">წაშლა</a>
                        <a class="btn btn-warning" asp-controller="Reservations" asp-action="Update" asp-route-id="@reservation.Id">განახლება</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>