@model GuestReservation
@{
    ViewData["Title"] = "ახალი სტუმრის ჯავშნის დამატება";
}
<h2 class="mb-4">ახალი სტუმრის ჯავშნის დამატება</h2>
<form asp-controller="GuestReservations" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="GuestId">სტუმარი</label>
        @Html.DropDownListFor(model => model.GuestId, (IEnumerable<SelectListItem>)ViewBag.Guests, "-- არჩევა --", new { @class = "form-control" })
        @Html.ValidationMessageFor(gr => gr.GuestId, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        <label asp-for="ReservationId">ჯავშანი</label>
        @Html.DropDownListFor(model => model.ReservationId, (IEnumerable<SelectListItem>)ViewBag.Reservations, "-- არჩევა --", new { @class = "form-control" })
        @Html.ValidationMessageFor(gr => gr.ReservationId, "", new { @class = "text-danger" })
    </div>
    <div class="mb-3">
        <input type="submit" class="btn btn-success" value="დამატება" />
        <a class="btn btn-primary btn" asp-controller="GuestReservations" asp-action="Index">გაუქმება</a>
    </div>
</form>


