@model GuestReservation
@{
    ViewData["Title"] = "სტუმრის ჯავშნის წაშლა";
}
<h2 class="mb-4">სტუმრის ჯავშნის წაშლა</h2>
<form asp-controller="GuestReservations" asp-action="DeletePOST" method="post">
    <input hidden asp-for="Id" />
    <div class="mb-3">
        @Html.DropDownListFor(model => model.GuestId, (IEnumerable<SelectListItem>)ViewBag.Guests, "-- არჩევა --", new { @class = "form-control", disabled = "disabled" })
    </div>
    <div class="mb-3">
        @Html.DropDownListFor(model => model.ReservationId, (IEnumerable<SelectListItem>)ViewBag.Reservations, "-- არჩევა --", new { @class = "form-control", disabled = "disabled" })
    </div>
    <div class="mb-3">
        <input type="submit" class="btn btn-danger" value="წაშლა" />
        <a class="btn btn-primary btn" asp-controller="GuestReservations" asp-action="Index">გაუქმება</a>
    </div>
</form>